
.left-menu-little-bio {
    font-family: 'Carter One', cursive;
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}

/** Desktop display */
@media (min-width: 800px) {
    .left-menu-avatar {
        height: 256px;
        border: 4px solid black;
    }

    .left-menu-container {
        width: 180px;
    }

    .left-menu-social-container {
        padding: 20px;
    }
}

/** Mobile and small tablets display */
@media (max-width: 800px) {
    .left-menu-social-container {
        padding: 2px;
        padding-top: 20px;
    }
    .left-menu-avatar {
        height: 64px;
        border: 2px solid black;
    }

    .left-menu-container {
        width: 80px;
    }
}

.left-menu-avatar {
    background-image: url("../images/monokuma_avatar.jpg");
    opacity: 0.8;
}

.left-menu-container {
    min-height: 100%;
    text-align: left;
    background-color: black;
    position: fixed;
    left: 0;
}

.left-menu-social-container {
    height: 150px;
    text-align: center;
}

.left-menu-gradient {
    background: linear-gradient(to bottom, black, white);
    min-height: 150px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.left-bottom-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.left-menu-footer {
    background-image: url("../images/school_logo.png");
    background-size: 64px;
    min-height: 80px;
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
