.main-content-container {
    text-align: left;
}

/* TODO : Media Queries ! */
.main-menu-element {
    border: 4px solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.main-menu-element:hover {
    color: white;
    background-color: black;
}

.main-menu-large-layout {
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Bangers', cursive;
    font-size: 24px;
}

@media (max-width: 900px) {
    .main-menu-large-layout {
        padding-left: 25px;
        font-size: 16px;
    }


    .main-menu-element {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .main-menu-large-layout {
        padding: 2px;
        font-size: 12px;
    }

    .main-menu-element {
        margin-left: 2px;
        margin-right: 2px;
    }
}
