
.stack-view-container {
    margin-left: 40px;
    margin-right: 40px;
}

@media (max-width: 600px) {
    .stack-view-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.stack-item {
    width: 100%;
}

.stack-item .stack-item-title {
    font-family: 'Bangers', cursive;
    background-color: black;
    color: white;
    padding: 9px;
    border: 1px solid black;
    font-size: 24px;
}

.stack-item .stack-item-title .stack-item-title-annotation {
    margin-top: 4px;
    font-family: 'Carter One', cursive;
    background-color: white;
    font-size: 12px;
    color: black;
    display: inline;
    padding-left: 15px;
    padding-right: 30px;
}

.stack-item-tech-strate {
    position: relative;
    top: 0;
    background-color: white;
    border: 4px solid black;
    padding: 5px;
    overflow: auto;
}

.stack-item-tech-strate .stack-item-tech {
    float: left;
    font-family: 'Carter One', cursive;
    transition-duration: 300ms;
    transition-delay: 70ms;
    transform-origin: center center;
    display: inline-block;
    margin-bottom: 64px;
    margin-top: 42px;
    width: 250px;
    height: 64px;
    text-align: center;
    background-color: white;
}

.stack-item-tech-strate .stack-item-tech:hover {
    margin-top: 0;
    margin-bottom: 0;
    width: 300px;
    height: 128px;
}


.stack-item-tech-strate .stack-item-tech:hover {
    transition-duration: 500ms;
    height: 300px;
    background-color: black;
    color: white;
}

.stack-tech-name {
    margin-top: 10px;
}

.stack-item-tech-strate .stack-item-tech:hover > .stack-tech-name {
    transition-delay: 400ms;
    transition-duration: 500ms;
    font-size: 24px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


.stack-overall-skill {
    transition-delay: 200ms;
    transition-duration: 400ms;
    height: 0;
}

.stack-overall-description {
    font-family: 'Carter One', cursive;
    padding: 0;
    font-size: 0;
}

.stack-item-tech-strate .stack-item-tech:hover > .stack-overall-description {
    transition-delay: 500ms;
    transition-duration: 500ms;
    padding: 12px;
    font-size: 12px;
    height: auto;
    opacity: 1;
    display: block;
}

.stack-item-tech-strate .stack-item-tech:hover > .stack-overall-skill {
    margin-top: 10px;
    padding-top: 12px;
    transition-delay: 500ms;
    transition-duration: 500ms;
    height: auto;
    font-size: 16px;
    display: block;
}

.stack-item-tech-strate .stack-item-tech > img {

    display: inline-block;
    transition-duration: 300ms;
    transform-origin: center center;
    height: 64px;
}

.stack-item-tech-strate .stack-item-tech:hover > img {
    height: 128px;
}

.stack-item-tech-strate .stack-item-tech:hover > .stack-item-tech .idle {
    margin-top: 40px;
}

.stack-item-tech-strate-inner-container {
    width: 4000px;
}
