html, body {
  min-height: 100%;
  height:100%;
  font-family: 'Bangers', cursive;

}

#root {
  min-height: 100%;
}

.transitive {
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    transition-duration: 150ms;
}

.bgImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-left-icon:hover {
    background-color: white;
    color: black;
}

.menu-left-icon {
    transition-duration: 400ms;
    display: inline-block;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
}


/* General style attributes */
h1 {
    font-family: 'Carter One', cursive;
    color: red;
    font-weight: bolder;
}

a {
    color: inherit;
}


@media (max-width: 800px) {
     .main-content-container {
         margin-left:  80px;
     }

     .left-menu-footer {
         height: 100%;
     }
}

@media (min-width: 800px) {
     .main-content-container {
        margin-left:  180px;
    }

     .menu-left-icon {
         font-size: 32px;
         padding: 4px;
     }
}


.App {
  text-align: center;
  height: 100%;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

